{% extends "main_page_student.html" %}

{% block show_task_course_work_rep %}

	<h2>Мои отчеты по курсовой работе/проекту по предмету "{{ subject_title }}" за {{ semester }} семестр</h2>
	{% if coursework_task == None %}
		<h3>Задание на курсовую работу отсутствует!</h3>
	{% else %}
		<!--h3>Название: {{ coursework_task.title }}</h3-->
		{% if commits != None %}
			{% for commit in commits %}
				<h4>Название: {{ commit.title }}</h4>
				<blockquote>
					<p>
						{{ commit.text }}
					</p>
				</blockquote>
				<h5>Дата создания: {{ commit.date_create }}</h5>
				<br>
			{% endfor %}
		{% else %}
			<h3>Работы не были добавлены!</h3>
		{% endif %}
		<form action="/student/mycourseworks/{{ subject_id }}/{{ course_id }}/{{ semester_id }}/{{ task_id }}/add/" method="post">
			{% csrf_token %}
			<input type="submit" class="button" value="Добавить работу"></input>
		</form>
	{% endif %}

{% endblock %}